@media screen and (max-width: 1024px) {
    #page-wrapper {
        width: 100%;
    }

    .page-nav-column-right {
        min-height: 80px;
        height: auto;
    }

    .column-left {
        display: none;
    }

    .column-right {
        float: left;
        width: 90%;
        margin: 0 5%;
    }

    .label-wrapper > label:last-of-type {
        max-width: 780px !important;
    }

    .label-wrapper > label {
        width: 30% !important;
        margin-right: 4% !important;
    }

    .label-wrapper > label:nth-of-type(3n) {
        margin-right: 0 !important;
    }

    .main-header {
        position: relative;
    }

    .main-header-bar-container {
        position: absolute;
        right: 0;
        bottom: 6px;
    }
}



@media screen and (max-width: 881px) {
    .page-nav-column-right {
        min-height: 0;
        padding: 0 !important;
        height: auto;
        margin: 0 0 10px;
    }

    .page-nav-column-right:before{
        display: none;
    }

    .page-nav-link {
        display: block;
        margin: 2px 0 !important;
    }

    .label-wrapper > label {
        width: 45% !important;
        margin-right: 9% !important;
    }

    .label-wrapper > label:nth-of-type(3n) {
        margin-right: 9% !important;
    }

    .label-wrapper > label:nth-of-type(2n) {
        margin-right: 0 !important;
    }

    .label-wrapper > label:last-of-type {
        width: 100% !important;
    }

    .main-header {
        text-align: center;
    }

    .main-header-title {
        width: 100%;
    }

    .main-header-bar-container {
        text-align: center;
        margin: 0 auto;
    }

    .main-header {
        position: static;
    }

    .main-header-bar-container {
        position: static;
        bottom: 3px;
    }
}



@media screen and (max-width: 650px) {
    .label-wrapper > label {
        width: 100% !important;
        text-align: center;
    }

    .main-header-bar-container {
        display: none;
    }

    .button-wrapper {
        margin-bottom: 10%;
    }

    .button-wrapper button {
        margin: 0;
        width: 40%;
    }

    .button-wrapper button:first-of-type {
        margin-right: 10%;
    }

    .button-wrapper button:last-of-type {
        margin-left: 10%;
    }
}