#page-wrapper {
    width: 1024px;
    margin: 0 auto;

    font-family: sans-serif;

    font-size: 16px;

}

#page-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.column {
    height: 1000px;
}

.column-left {
    float: left;
    width: 200px;

    /*padding-top: 80px;*/
    font-size: 12px;

    padding-top: 180px;


    box-sizing: border-box;
}

.column-right {
    float: right;
    width: 784px;
}

    .header-column-right {
        height: 80px;
        border-radius: 15px;

        text-align: center;


        margin: 50px 0;
        box-shadow: 0 1px 5px 0 #ccc;

    }

    .header-column-right:before { /* для IE8+ */
        content: "";
        display: inline-block;
        min-height: inherit;
        height: 100%;
        vertical-align: middle;
    }

        .header-link {
            display: inline-block;
            line-height: 16px;

            padding: 8px;

            vertical-align: middle;


        }

        .header-link:not(:first-of-type) {
            margin-left: 16px;
        }

        .header-link-1 {
            color: #6b00b4;
        }

        .header-link-2 {
            color: #457349;
        }

        .header-link-3 {
            color: #0e73d9;
        }

        .header-link-4 {
            color: #dd4c00;
        }

        .header-link-5 {
            color: #333333;
        }

        .header-link-6 {
            color: #b60700;
        }

        .header-link:hover {
            text-decoration: none;
        }

    .main {
        height: 530px;
    }

        .main-header {



            /*vertical-align: middle;*/
            /*height: 200px;*/
            /*padding-top: 50px;*/
        }

        .main-header:before { /* для IE8+ */
            content: "";
            display: inline-block;
            min-height: inherit;
            height: 100%;
            vertical-align: middle;
        }

        .main-header:after {
            content: '';
            display: table;
            clear: both;
        }



            .main-header-title {
                display: inline-block;
                font-size: 28px;

            }

            .main-header-bar-container {

                display: inline-block;
                vertical-align: middle;
                position: relative;
                bottom: 3px;

            }

            .main-header-bar {
                border: none;
                width: 105px;
                height: 16px;
                display: block;
                float: left;

                text-align: center;
                font-size: 14px;

                font-style: italic;

                background: none;

                box-shadow: inset 0 1px 3px 0 darkgray;
            }

            .main-header-bar:first-of-type {
                border-radius: 5px 0 0 5px;
            }

            .main-header-bar:last-of-type {
                border-radius: 0 5px 5px 0;
            }

            .main-header-bar:not(:first-of-type) {
                margin-left: 2px;
             }

            .main-header-bar.completed {
                color: #fff;
                /*background-color: #39a518;*/
                background-image: linear-gradient(#339516, #36ab13);
            }

            .main-header-bar.current {
                color: #fff;
                /*background-color: #9ed105;*/
                background-image: linear-gradient(#8bb804, #a4d807);
            }

            .main-header-bar.incompleted {
                background-color: #f6f6f6;
            }

/*.column-wrapper:after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

/*.column-wrapper {*/
    /*width: 100%;*/
    /*float: left;*/

/*}*/

    .column-wrapper > label {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        width: 210px;
        margin-right: 45px;
        margin-bottom: 2em;
    }

.column-wrapper > label:nth-of-type(3n) {
    width: 260px;
    margin-right: 0;
}

        .column-wrapper input,
        .column-wrapper select {
            margin-top: 3px;
        }

        .column-wrapper input[type="radio"] {
            display: none;
        }

        .column-wrapper input.form-text-input {
            width: calc(100% - 4px);
        }

        .column-wrapper select {
            width: 100%;
        }

        .column-wrapper select#citizenship:focus {
            width: auto;
            position: relative;
        }

        .column-wrapper label.change-last-name,
        .column-wrapper label.gender {
            display: inline-block;
            /*width: 50px;*/
            height: 24px;
            border-radius: 5px;
            font-weight: normal;
            text-align: center;
            cursor: pointer;



            box-sizing: border-box;
            padding: 4px 8px;

        }

        .column-wrapper label.change-last-name:after,
        .column-wrapper label.gender:after {
            border-bottom: 1px dotted #000000;
            content: '';
            display: block;
        }

        input[type="radio"]:checked + label.change-last-name,
        input[type="radio"]:checked + label.gender {
            background-color: #8cb903;
            color: #fff;
        }

        input[type="radio"]:checked + label.change-last-name:after,
        input[type="radio"]:checked + label.gender:after {
            display: none;
        }

/*.column-wrapper-3 {*/
    /*width: 260px;*/
/*}*/

/*.column-wrapper:not(:last-of-type) {*/
    /*margin-right: 45px;*/
/*}*/


label#city {
    display: block;
    font-size: 14px;
    font-weight: bold;

    /*box-shadow: 0 0 0 1px red;*/
    width: 100%;
}

    label input {
        width: calc(100% - 4px);

    }

#suggest {
    color: #af9d9f;
    font-size: 12px;
    font-weight: normal;

    margin-top: 0.5em;

}

#suggest span {
    cursor: pointer;
    border-bottom: 1px dotted darkred;
}

#suggest span:hover {
    color: darkred;
}

.button-wrapper {
    background: #f2f2f2;
}

.button-wrapper #button-back {
    background-color: #bcbcbc;
    /*box-shadow: inset 0 -2px 5px 0 black, inset 0 0 0 100px #bcbcbc;*/
    box-shadow: inset 0 -2px 5px 0 #7e7e7e, inset 0 2px 5px 0 #fff;
}

.button-wrapper #button-next {
    float: right;
    background-color: #a4d807;
    /*box-shadow: inset 0 -2px 5px 0 black, inset 0 0 0 100px #bcbcbc;*/
    box-shadow: inset 0 -2px 5px 0 #7da703, inset 0 2px 5px 0 #fff;
}

    .button-wrapper button {
        width: 140px;
        height: 40px;

        font-size: 16px;
        cursor: pointer;



        color: #fff;
        margin: 15px 10px;
        border: none;
        border-radius: 20px;
        /*padding: 10px 15px;*/
    }


.fieldset {
    border-top: none;
    padding: 0.5em;
    margin: 2em 0 0.5em;
}

.fieldset > h1 {
    font: 1em normal;
    margin: -1em -0.5em 0;
}

.fieldset > h1 > span {
    float: left;
    color: #787b76;
    font-style: italic;
}

.fieldset > h1:after {
    border-top: 1px solid #d1d1d1;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.6em;
}