/**
 * Created by labriko on 21.12.14.
 */

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
    overflow: hidden;
}
progress::-webkit-progress-value {
    background-color: #63f0ac;
    border: 0;
    height: 18px;
}
progress::-moz-progress-bar {
    background-color: lightgreen;
    border: 0;
    height: 18px;
}